
body{
    background: hsl(233, 47%, 7%);
    width: 100%;
    height: 100%;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.holder{
    position: absolute;
    background: hsl(244, 38%, 16%);
    width: 70%;
    border-radius: 10px;
}

.textos{
    margin-left: 15%;
    margin-top: 15%;
    
}

.textinhos{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: 7%;
}

.intro{
    font-style: bold;
    font-family: 'Inter', sans-serif;
    font-weight: 400, 700;
}

.intro h1{
    color: white;
    font-weight: bold;
    font-size: 34px;
}

.intro h1 strong{
    color: hsl(277, 64%, 61%);
}

.intro p{   
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
}

.base span{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400, 700;
}

.mini{
    font-weight: normal;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 9px;
    margin-top: 9px;
    text-transform: uppercase;
}

span{
    color: white;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
}

.base{
    width: 52%;
    float: left;
}

.textinhos, .textos {
    width: 66%;
}

img{
    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
    z-index: 555;
}

picture{
    background-color: hsl(277, 100%, 30%);
    width: 100%;
    height: 100%;
}

.picture-1{
    background-color: hsl(277, 100%, 30%);
    float: right;
    width: 47%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: brightness(0.7);
}

.img{
    float: right;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-mobile{
    width: 0;
    height: 0;
}

.attribution{
    position: absolute;
    bottom:0;
}

@media (max-width: 1379px){
    .picture-1{
        width: 0;
        height: 0;
    }
    .img, .img-mobile{
        width: 0;
        height: 0;
    }
    .holder{
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }
    .textos{
        margin: 0 auto;
        text-align: center;
        width: 95%;
        margin-top: 10%;
    }
    .textinhos{
        margin-bottom: 10%;
    }
}

@media (max-width: 768px){
    .textos{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }
    .textinhos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 4%;
        margin-top: 10%;
    }
    .intro p, h1{
        width: 70%;
        margin: 0 auto;
        margin-top: 6%;
    }
    .picture-2{
        filter: brightness(0.7);
        background-color: hsl(277, 100%, 30%);
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .img-mobile{
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .base{
        width: 100%;
    }

}

@media(max-width: 450px){
    .textinhos {
        display: flex;
        flex-direction: column;
    }
    .intro h1{
        font-size: 25px;
    }
}

@media (max-width: 380px){
    .intro p{
        font-size: 12px;

    }
    .intro h1{
        font-size: 20px;
    }
}